@import "./player";
@import "./song";
@import "./library";
@import "./nav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(102, 14, 55);
}
h3,
h4 {
  font-weight: 400;
  color: rgb(88, 86, 86);
  &:hover {
    color: rgb(62, 5, 85);
  }
}
.App {
  transition: all 0.5s ease; //makes all page move on library click
}
.library-active {
  margin-left: 30%;
}
